body
        {
          font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
          "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
        font
        {
          color: #29414b;
        }
        .icon-bar {
          position: fixed;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
  
        /* Style the icon bar links */
        .icon-bar a {
          display: block;
          text-align: center;
          padding: 16px;
          transition: all 0.3s ease;
          color: white;
          font-size: 20px;
        }
        .icon-bar a:hover {
          background-color: #278eb3;
        }
  
        .facebook {
          background: #3b5998;
          color: white;
        }
  
        .twitter {
          background: #00acee;
          color: white;
        }
  
        .instagram {
          background: #f09433; 
          background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
          background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
          background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
          color: white;
        }
  
        .linkedin {
          background: #0e76a8;
          color: white;
        }
        .title
        {
            height: 60px;
            background-color: #278eb3;
        }
        .pic image
        {
            height: 200px;
            border-radius: 50%;
        }
        .section
        {
            height: fit-content;
            border: none;
        }
        .time
        {
            height:fit-content ;
            width: auto;
            border: 1px solid black;
            background-color:  #74849170;
          
        }
        .venue
        {
            height: fit-content;
            width: auto;
            border: 1px solid black;
            float: inline-end;
            background-color: #278eb370;
        }
        .hprlk
        {
            height: fit-content;
            border: 1px solid black;
            width: auto;
            float:inline-end;
            background-color: #f8bc2870;
        }
        .detail
        {
            height: fit-content;
            border: 1px solid black;
            width: auto;
            float:inline-end;
            background-color: #f09433;
        }
        .detail a
        {
            text-decoration: none;
            color: black;
        }
        .col-sm-9 h3 a
        {
            color: black;
            text-decoration: none;
        }
        .col-sm-9 h3 a:hover
        {
            color: #278eb3;
        }
